#analyze-music__landing {
  height: 300px;
}

.analyze-music__nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  height: 250px;
}

.nav__container--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.white__text {
  color: #fff;
}

.overlay {
  background-image: url("../assets/Banner\ heardfrom\ .png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.analyze__music--main-text {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.top__container--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__bar--container {
  margin-top: 32px;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.input__search-bar {
  border-radius: 50px;
  border: none;
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
}
.search__bar--wrapper__icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px 0 8px;
  color: #6c63ff;
  font-size: 32px;
  transition: all 0.2s ease;
}

.bento-menu[data-v-48b363cfg] {
  width: 27px;
  height: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 5px;
  cursor: pointer;
}

.bento-menu > div[data-v-48b363cfg] {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.4s ease;
}

.search-results--container {
  max-width: 1200px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.search-results__text-filter--wrapper {
  margin: 48px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.filter__container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.slider {
  border-radius: 3px;
}

.range-slider {
  width: 100%;
  text-align: center;
  position: relative;
}

.tempo__text--slider {
  font-size: 20px;
}

.text__slider--wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.range-slider .rangeValues {
  font-size: 16px;
  padding: 4px 24px;
  text-align: center;
  color: #6c63ff;
  font-weight: 500;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  left: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #6c63ff;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #6c63ff;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type="range"]:focus {
  outline: none;
}

/* 

Song Cards


*/

.songs__search-result--container {
  margin-top: 48px;
}

.horizontal__card {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.song__img--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.song__img {
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.horizontal__card--wrapper {
  height: 400px;
  display: flex;
  width: 250px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.text__container {
  margin-top: 16px;
  margin-left: 8px;
  text-align: left;
}

.song__title--text {
  font-size: 24px;
  margin-bottom: 24px;
}

.artist__name--text {
  font-weight: 300;
  font-size: 20px;
}

/* input[type="range"]:active::-webkit-slider-runnable-track {
  background: #ccc;
} */

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .analyze__music--main-text {
    font-size: 32px;
  }
}
